body {
    font-family: "Arial";
    font-size: 14px;
}

.label {
    font-weight: bold;
}

#footer {
    clear: both;
    margin-top: 1em;
    border-top: 1px solid black;
    font-size: 10px;
}

#version {
    font-size: 110%;
    font-weight: bold;
}

a,
a:active, 
a:visited {
    color: black;
    text-decoration: none;
}
table {
    margin-top: 1em;
}

table td,
table th {
    vertical-align: top;
    text-align: left;
    padding-right: 2em;    
}

.pre {
    white-space: pre;
    font-family: monospace;
}

#actions {
    margin: 0;
    padding: 0;
}

#actions li {
    display: inline;
    text-decoration: underline;
    padding-right: 1em;
}

